ENV_VARIABLE=development
NEXT_PUBLIC_BACKEND_URL=https://api.oriana.orb.local
NEXT_PUBLIC_AUTH_SERVICE_URL=keycloak-url-here

# NextAuth
NEXTAUTH_URL=nextauth-url-here
NEXTAUTH_SECRET=your-nextauth-secret-here

# Keycloak
KEYCLOAK_CLIENT_ID=oriana_web
KEYCLOAK_CLIENT_SECRET=client-secret-here
KEYCLOAK_ISSUER=keycloak-issuer-url-here